footer{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
}
.first{
    flex: 30%;
    align-items: center;
}

.second{
    flex: 16%;
    align-items: center;
}

.third{
    flex: 16%;
    align-items: center;
}


h3{
    padding-left: 20%;
}